@font-face {
  font-family: FuentePagina;
  src: url(../fonts/DancingScript.otf);
}
ul{
  list-style-type: none;
}
ul li{
  display: inline;
  padding: 10px;
  color: white;
}
a{
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px #02010A;
}
#img1:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
  -moz-box-shadow: 2px 2px #82c3a6;
  -webkit-box-shadow: 2px 2px #82c3a6;
}
#img2:hover{
  transform: translate(20px,-10px);
   box-shadow: 2px 2px #82c3a6;
   -moz-box-shadow: 2px 2px #82c3a6;
   -webkit-box-shadow: 2px 2px #82c3a6;
}
.gimg1{
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.gimg2, .gimg4, .gimg6{
  filter:grayscale(100%);
  -webkit-filter:grayscale(100%);
  -moz-filter:grayscale(100%);
}
.gimg3{
  filter: sepia(90%);
  -webkit-filter: sepia(90%);
  -moz-filter: sepia(90%);
}
@-webkit-keyframes slidein {
  0%{margin-top: 150%;}
  60%{margin-top: -5%;}
  100%{margin-top: 0%;}
}
@keyframes slidein {
  0%{margin-top: 150%;}
  60%{margin-top: -5%;}
  100%{margin-top: 0%;}
}
@-moz-keyframes slidein {
  0%{margin-top: 150%;}
  60%{margin-top: -5%;}
  100%{margin-top: 0%;}
}
@media screen {
  body{
    background-color: #02010a;
    font-family: FuentePagina, sans-serif;
    width: 900px;
    margin: auto;
  }
  .cabecera{
      height: 10%;
      background-color: #5b7989;
      border-radius: 10px 10px 0px 0px;
      -moz-border-radius: 10px 10px 0px 0px;
      -webkit-border-radius: 10px 10px 0px 0px;
      min-width: 350px;
      animation: slidein 3s;
    }
    .title{
      font-size: 24px;
      text-align: left;
      vertical-align: middle;
      color:  white;
      text-shadow: 2px 2px #02010A;
      float: left;
    }
  nav .menu{
    font-size: 18px;
    text-align: center;
    float: right;
  }
  img{
    box-shadow: 2px 2px #02010A;
    -webkit-box-shadow: 2px 2px #02010A;
    -moz-box-shadow:2px 2px #02010A;
  }
  .imgCenter{
    background-color:  #82c3a6;
    text-align: center;
    vertical-align: middle;
  }
  .imagenP{
    min-width: 300px;
    width: 50%;
    margin: 10px;
  }
  .imgSecundarias{
    background-color: #d5c75f;
    padding-left: 2%;
    padding-right: -2%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: auto;
  }
  .imagenS{
    min-width: 300px;
    width: 45%;
    margin: 1%;
    text-align: center;
    border: 2px;
  }
  .imagenS img{
    width: 100%;
    text-align: center;
  }
  .footer{
    background-color: #C6d5c5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
  }
  .footer div{
    min-width: 200px;
    text-align: center;
    margin: auto;
  }
  footer img{
    width: 15px;
    height: 15px;
  }
  .galeria{
    text-align: center;
    background-color:  #d5c75f;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
  }
  .gal{
    min-width: 200px;
    width: 30%;
    margin: 1%;
  }
  .gal img{
    width: 100%;
  }
}


@media (max-width: 899px) {
  body{
    background-color: #02010a;
    font-family: FuentePagina, sans-serif;
    align-content: center;
    width: 100%;
  }
  .cabecera{
      background-color: #5b7989;
      height: 15%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 10px 10px 0px 0px;
      -moz-border-radius: 10px 10px 0px 0px;
      -webkit-border-radius: 10px 10px 0px 0px;
      min-width: 350px;
      animation: slidein 3s;
    }
    .title{
      font-size: 24px;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      color:  white;
      text-shadow: 2px 2px #02010A;
    }
    nav{
      width: 100%;
    }

    .menu{
      font-size: 18px;
      width: 100%;
      text-align: center;
    }
    img{
      box-shadow: 2px 2px #02010A;
      -webkit-shadow: 2px 2px #02010A;
      -moz-shadow: 2px 2px #02010A;
    }
    .imgCenter{
      background-color:  #82c3a6;
      min-width: 350px;

    }
    .imagenP{
      min-width: 200px;
      padding: 1px;
      width: 60%;
    }
    .imagenP img{
      width: 100%;
    }
    .imgSecundarias{
      background-color: #d5c75f;
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      min-width: 350px;
    }
    .imagenS{
      min-width: 300px;
      margin: 1%;
      text-align: center;
      border: 2px;
    }
    .imagenS img{
      width: 100%;
    }
    footer{
      background-color: #C6d5c5;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      clear: both;
      min-width: 350px;
    }
    .footer{
      border-radius: 0px 0px 10px 10px;
      -moz-border-radius: 0px 0px 10px 10px;
      -webkit-border-radius: 0px 0px 10px 10px;
    }
    .footer div{
      min-width: 300px;
      width: 100%;
    }
    footer img{
      width: 15px;
      height: 15px;
      border-style: none;
    }
    .galeria{
      text-align: center;
      background-color:  #d5c75f;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: -moz-available;
      width: available;
      min-width: 350px;
    }
    .gal{
      width: 100%;
      min-width: 200px;
    }
}
